@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Boa noite rapaziada</h1>
    <p> Bora <a href="https://docs.microsoft.com/aspnet/core">Aprender a fazer apps com o ASP.NET Core</a>?</p>
</div>
